<app-header></app-header>
<div class="row">
  <div class="col-2">
    <app-navbar></app-navbar>
  </div>
  <div class="col-10 mt-4 pe-4">
    <div class="row row-col-3 main">
      <div class="col">
        <a routerLink="/reservar">
          <div class=" container-fluid cont-1">
            <div class="d-flex flex-column m-2">
              <i class="fa-solid fa-person pt-2"></i>
              <span>Reservar</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/registro">
          <div class=" container-fluid cont-1">
            <div class="d-flex flex-column m-2">
              <i class="fa-solid fa-person pt-2"></i>
              <span>Registrar</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/huespedes">
          <div class="container-fluid cont-2">
            <div class="d-flex flex-column m-2">
              <i class="fa-solid fa-people-roof pt-2"></i>
              <span>Huéspedes</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/huespedes">
          <div class="container-fluid cont-2">
            <div class="d-flex flex-column m-2">
              <i class="fa-solid fa-people-roof pt-2"></i>
              <span>Lista Reservas</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/habitaciones">
          <div class="container-fluid cont-3">
            <div class="d-flex flex-column m-2">
              <i class="fa-solid fa-bed pt-2"></i>
              <span>Habitaciones</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
